<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= movie.attributes.title %>
    </title>
</head>

<body>
    <h1>
        <%= movie.attributes.title %>
    </h1>
    <% if (movie.attributes.image && movie.attributes.image.url) { %>
        <img src="<%= movie.attributes.image.url %>" alt="<%= movie.attributes.title %> poster"
            style="max-width: 100%;">
        <% } else { %>
            <p>No image available.</p>
            <% } %>
                <p>Description: <%= movie.attributes.description || 'No description provided.' %>
                </p>
                <p>Rating: <%= movie.attributes.rating || 'Not rated' %>
                </p>
</body>

</html>